name: PokecaDetailScraper

on:
  schedule:
    - cron: '0 0 * * *'  # JST 9:00
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    env:
  GSHEET_JSON: ${{ secrets.GSHEET_JSON }}


    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run detail scraper
        run: python scraper.py
